body{
	background-image: linear-gradient(to right, #f4d263,#f4d263,#f4d263, #FBEDAB);
}
.App{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}